* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  display: flex;
  max-width: 360px;
}
